<% if User.current.allowed_to?(:suppress_mail_issue_switch, @project) || 
      User.current.allowed_to?(:suppress_mail_issue_switch, @projects) %>

  <p class="plugin_redmine_silencer">
    <%= hidden_field_tag 'suppress_mail', silencer_global_on ? '1' : '0', :id => nil %>
    <%= check_box_tag 'suppress_mail', '1', silencer_global_on || silencer_issue_on_default, 
        :disabled => silencer_global_on %>
    <%= label_tag 'suppress_mail', silencer_global_on ? l(:supress_email_label_lock) : l(:supress_email_label) %>
  </p>
<% end %>